<script src="/static/jquery.js"></script>
<script>
	$(document).ready(function()
	{
		$("tr:even").css("background-color","#F4F4F8");
		$("tr:odd").css("background-color","#bcc1c1");

	});
</script>
<script type="text/javascript">
	setInterval(function(){
	$(document).ready(function(){
	
		$("#teste").ready(function(){
			$.ajax({
				type:"GET",
				url:"/json",
				dataType:"json",
				success: function(retorno){
						$("#corpotabela").empty();
						$.each(retorno,function(i,item){
						$("#corpotabela").append('<tr>'+
							'<td>'+
							"<a href='/computadores/"+item.fields['ip']+"'>"+item.fields['nome']+"</a>" + 
								'</td>' +
							'<td>' +
								item.fields['dateIni'] +
								'</td>' +
							'<td>' +
								item.fields['tempo']/60 +
								'</td>' +
							'<td>' +
							item.fields['remain'] +  
								'</td>' +
							'</tr>');
					});
				}
			});
		});

	});
	},1000);


</script>


<table border="1">
{% for item in lista %} 
<tr>
<td><a href="computadores/{{item.ip}}">{{ item.nome }}</a></td>
<td>{{item.unixInitoDatetime}}</td>
<td>{{item.secTominute}}</td>
<td>{{item.timeRemain}}</td></tr>
{% endfor %} 
</table>

{% block conteudo %}
<table border="1">
	<thead>
		<tr>
			<th>
				Nome
			</th>
			<th>
				DateIni
			</th>
			<th>
				Tempo
			</th>
			<th>
				Restante
			</th>
		</tr>
	</thead>
	<tbody id="corpotabela">
	</tbody>
</table>
<input type="button" id="teste" class="botao" value="Pegar Contatos">


{% endblock %} 

